%h1 List of storages:
- if @storages.blank?
  %p There are not any storages currently in the system.
- else
  %ul
    - @storages.each do |t|
      %li
        = link_to t.name, t
%p= button_to('Add new storage', { action: 'new' }, class: "btn btn-success")
