%h1 Edit treasure
= form_for @treasure do |f|
  = render partial: 'form', locals: { f: f }
  = f.submit "Edit"
- if @treasure.errors.any?
  %h3 Please fix these errors:
  %ul
    - @treasure.errors.full_messages.each do |msg|
      %li= msg