<h1>Edit treasure</h1>

<%= form_for @treasure do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= f.submit "Edit treasure" %>
<% end %>

<% if @treasure.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @treasure.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
