<h1>Trashed treasures list: </h1>

<% if @treasures.blank? %>
  <p>There are not any trashed treasures...</p>
<% else %>
  <ul>
    <% @treasures.each do |t| %>
    <li><%= link_to t.title,  t %>
    <%= link_to t.type.name, t %> </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Back', { action: 'index' } %>
